body {
  margin: 0;
  padding: 0;
  background-color: #2f2e2b;
}
/* main title */
.title {
  text-align: center;
  color: white;
  font-family: Lora;
}

/* subtitle */
.subtitle {
  color: #958f7e;
  text-align: center;
  font-family: Lora;
}

/* input container */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input field */
.input {
  padding: 20%;
  border: 1px solid #958f7e;
  background-color: #242321;
  color: white;
  border-radius: 10px;
}

/* button container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* start button */
.start-button {
  color: white;
  background-color: #6d695e;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
}

/* example button */
.example-button {
  color: white;
  margin-left: 20px;
  background-color: #2f2e2b;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  border-color: #6d695e;
  font-size: 12px;
}

/* last trips history  */
.last-trips {
  color: #958f7e;
  font-family: Inter;
}

/* trips container */
.trips {
  display: flex;
  flex-direction: column;
}

/* individual trip */
.trip {
  background-color: #262522;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-family: Inter;
  font-size: 14px;
  margin-bottom: 10px;
  width: 90%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
